body {
    background-color: #f7f7f7;
    color: white;
    padding-bottom: 70px;
    /* font-family: "Philosopher", sans-serif; */
    font-family: "Nunito", sans-serif;
}

.navbar-light .navbar-brand {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.navbar-light .navbar-brand img {
    margin-right: 10px;
}

.main-header {
    background: rgb(118, 163, 61);
    background: linear-gradient(
        90deg,
        rgba(118, 163, 61, 1) 34%,
        rgba(38, 68, 143, 0.865983893557423) 100%
    );
}

.navbar {
    background: rgb(118, 163, 61);
    background: linear-gradient(
        90deg,
        rgba(118, 163, 61, 1) 34%,
        rgba(38, 68, 143, 0.865983893557423) 100%
    );
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 20px;
    font-weight: 300;
}

.introLogo img {
    height: 165px;
    display: block;
    margin: 26px auto 6px;
    padding: 16px;
}

.intro {
    background-color: #f7f7f7;
    padding-top: 40px;
}

.intro-description p {
    font-size: 30px;
    color: rgb(68, 62, 156);
    text-align: center;
    font-family: Philosopher;
}

.introImage {
    background-image: url("/img/front-view-wheat-field-c.jpg");
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

.ventajas-title {
    background: linear-gradient(
        240deg,
        rgba(118, 163, 61, 1) 34%,
        rgba(38, 68, 143, 0.865983893557423) 100%
    );
    padding-top: 4%;
}

.ventajas-title p {
    text-align: left;
    font-size: 45px;
    color: white;
    font-weight: 600;
    padding-left: 5%;
}

.ventajas-description {
    font-size: 22px;
    font-weight: 400;
    color: rgb(68, 62, 156);
    padding: 5% 5% 2% 5%;
    text-align: center;
    font-family: "Philosopher", sans-serif;
}

span {
    text-decoration: underline;
}

.campos .col-sm-3 {
    padding: 0;
}
.campos img {
    height: 250px;
    width: 100%;
    object-fit: cover;
}

.clients {
    background: rgb(118, 163, 61);
    background: linear-gradient(
        90deg,
        rgba(118, 163, 61, 1) 34%,
        rgba(38, 68, 143, 0.865983893557423) 100%
    );
    text-align: center;
    height: 250px;
    padding-top: 15px;
    color: rgb(68, 62, 156);
    font-weight: 300;
}

.clients h2 {
    font-size: xl-large;
}

.carousel-item {
    /* height: 150px; */
    background-color: inherit;
    border: 0;
}

.carousel-item img {
    height: 100px;
    margin: 20px;
}

@media (min-width: 576px) and (max-width: 768px) {
    /* Show 4th slide on md if col-md-4*/
    .carousel-item {
        height: 100px;
        /* margin: 20px; */
    }

    .carousel-item img {
        height: 80px;
        /* margin: 20px; */
    }
    .campos img {
        height: 250px;
        width: 100%;
        object-fit: cover;
    }
}

/* Codigo para poner mas fotos en carousel */

/*
    code by Iatek LLC 2018 - CC 2.0 License - Attribution required
    code customized by Azmind.com
*/
@media (min-width: 768px) and (max-width: 991px) {
    /* Slider de Campos Show 4th slide on md if col-md-4*/
    .campos img {
        height: 150px;
        width: 100%;
        object-fit: cover;
    }

    /* Show 4th slide on md if col-md-4*/
    .carousel-inner
        .active.col-md-4.carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -33.3333%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) and (max-width: 768px) {
    .campos img {
        height: 80px;
        width: 100%;
        object-fit: cover;
    }

    /* Show 3rd slide on sm if col-sm-6*/
    .carousel-inner
        .active.col-sm-6.carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -50%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
}
@media (min-width: 576px) {
    .carousel-item {
        margin-right: 0;
    }
    /* show 2 items */
    .carousel-inner .active + .carousel-item {
        display: block;
    }
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .active.carousel-item-left + .carousel-item-next.carousel-item-left,
    .carousel-item-next.carousel-item-left + .carousel-item,
    .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* farthest right hidden item must be also positioned for animations */
    .carousel-inner .carousel-item-prev.carousel-item-right {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* right or prev direction */
    .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
    .carousel-item-prev.carousel-item-right + .carousel-item,
    .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* MD */
@media (min-width: 768px) {
    /* show 3rd of 3 item slide */
    .carousel-inner .active + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item
        + .carousel-item {
        transition: none;
    }
    .carousel-inner .carousel-item-next {
        position: relative;
        transform: translate3d(0, 0, 0);
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction */
    .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}
/* LG */
@media (min-width: 991px) {
    /* show 4th item */
    .carousel-inner .active + .carousel-item + .carousel-item + .carousel-item {
        display: block;
    }
    .carousel-inner
        .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        transition: none;
    }
    /* Show 5th slide on lg if col-lg-3 */
    .carousel-inner
        .active.col-lg-3.carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: absolute;
        top: 0;
        right: -25%; /*change this with javascript in the future*/
        z-index: -1;
        display: block;
        visibility: visible;
    }
    /* left or forward direction */
    .carousel-item-next.carousel-item-left
        + .carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(-100%, 0, 0);
        visibility: visible;
    }
    /* right or prev direction //t - previous slide direction last item animation fix */
    .carousel-item-prev.carousel-item-right
        + .carousel-item
        + .carousel-item
        + .carousel-item
        + .carousel-item {
        position: relative;
        transform: translate3d(100%, 0, 0);
        visibility: visible;
        display: block;
        visibility: visible;
    }
}

.carousel-control-prev {
    /* color: rgb(118, 163, 61); */
    margin-bottom: 125px;
    width: 3%;
    opacity: 0.8;
}

.carousel-control-next {
    /* color: rgb(118, 163, 61); */
    margin-bottom: 125px;
    width: 3%;
    opacity: 0.8;
}

/* Fin Codigo para poner mas fotos en carousel */

.footer {
    color: green;
    /* color: rgb(68, 62, 156); */
    margin-top: 50px;
}

.footer a {
    color: green;
}

.footer .flex-item {
    justify-content: space-around;
}

.footer-item {
    padding: 20px;
}

/* .footer-item a {
    padding-right: 15px;
} */

.map {
    height: 150px;
    width: 100%;
}

.about {
    color: rgb(68, 62, 156);
    margin-top: 160px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 22px;
    font-family: "Philosopher", sans-serif;
    font-size: 23px;
}

.contact {
    margin-top: 100px;
    padding-top: 30px;
    margin-bottom: 30px;
}

@media (min-width: 1200px) {
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm,
    .container {
        max-width: 1600px;
    }
}

.contact span {
    padding-right: 15px;
}

.form-group {
    margin-bottom: 0rem;
}

.mt-12 {
    margin-top: 12px;
}

.contact a {
    color: green;
}

.card {
    color: rgb(68, 62, 156);
}

.card .form-group {
    margin-bottom: 1rem;
}

.list {
    text-align: center;
}
